.signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0px;
    background-color: white;
    border-radius: 15px;
    // box-shadow: 5px 5px 10px 0px #d8d5d5;
    box-shadow: 19px 17px 22px 9px rgba(211, 209, 209, 0.658);
    height: 55%;
    width: 51%;
}

.signup-fullscreen{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgba(251, 246, 246, 0.727);
}

.signup-form-box {
    display: flex;
    padding-left: 55px;
    padding-right: 40px;
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: center;
}

.signup-form-box h1 {
    color: #1f5a4fd4;
    margin: 0px;
    text-align: center;
}

.signup-form-box p {
    color: #555;
    text-align: center;
    position: relative;
    margin-bottom: 1em;
}

.signup-name-fields {
    display: flex;
    gap: 10px;
    justify-content: space-between;
}

.signup-input-field {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin: 10px;
}

.signup-password-fields {
    display: flex;
    gap: 10px;
}

.signup-password-instruction {
    font-size: 0.9em;
    color: #666;
}

.signup-submit-button {
    position: relative; 
    padding: 100px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 100%;    
}

 .signup-submit-button:hover {
    background-color: rgb(201, 199, 199);
    border-color: black;
    color:black
}

.signup-sign-in-link {
    display: block;
    margin-top : 10px;
    font-size: 14px;
    color: #277365d4;
    text-align: center;
}
.signup-sign-in-link:hover{
    color :black
}

.signup-info-box {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 70%;
    border-radius: 0px 15px 15px 0px;
    padding-left: 40px;
    padding-right: 40px;
}

.signup-info-box p {
    color: #555;
    font-size: 1em;
}
