.note-card {
  transition: all 0.3s ease;
  width: 330px;
  margin: 0.88em;
  position: relative;
  display: flex;
  flex-direction: column;
  cursor: default;
  border: none;
  padding-bottom: 50px;
  transition: box-shadow 0.3s ease;
  box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.2) !important;
  border-radius: 9px !important;
  border: 1px solid rgba(165, 165, 165, 0.382);

  &:hover {
    box-shadow: 0 0px 33px rgba(0, 0, 0, 0.2) !important;
  }

  &.collapsed {
    max-height: 137px;
    overflow: hidden;
    border: none;
  }

  &.expanded {
    max-height: 100%;
    border: none;
  }

  

  .MuiCardContent-root {
    padding: 16px;
    box-shadow: none;
    border: none;
    
  }

  .note-title{
    & .MuiInputBase-input {
      cursor: default;
      font-size: 22px;
    }
  }
  
  .note-title,
  .note-description {
    cursor: default;
    & .MuiOutlinedInput-root {
      cursor: default;
      border: none;
      
      & fieldset {
        border: none;
      }
    }

    & .MuiInputBase-input {
      cursor: default;
    }
  }

  .note-description {
    resize: none;
    min-height: 50px;
    overflow: hidden;
    margin-bottom: 16px;
  }

  .note-actions {
    position: absolute;
    bottom: 0px;
    right: 0px;
    display: flex;
    gap: 0px;
    
  }
}

.icon-button{
  font-size: 32em;
  color: #202124;
  opacity: 0.7;
  padding: 0px;
  margin: 0px;
}
.icon-button {
  height: 30px;
  width: 30px;
  margin: 0px;
  padding: 0px;
}