.note-card {
    transition: all 0.3s ease;
    max-width: 400px;
    margin: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    cursor: pointer;
  
    &.collapsed {
      max-height: 137px;
      overflow: hidden;
      border: 1px solid gray;
    }
  
    &.expanded {
      max-height: 100%;
      border: 1px solid gray;    }
  
    .MuiCardContent-root {
      padding: 16px;
      box-shadow: none;
    }
  }
  