.takeNote {
  width: 33em;
  display: flex;
  flex-direction: column;
  margin: 2%;
  border-radius: 4%;
  transition: all 0.3s ease;
  
  .title-field {
    text-align: center;
    margin-bottom: 8px;
    
    .MuiOutlinedInput-root {
      & fieldset {
        border: none;
      }

      &.Mui-focused fieldset {
        border: none;
      }
    }

    &:not(.Mui-focused) {
      box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
    }
  }

  .description-field {
    margin-bottom: 8px;

    .MuiOutlinedInput-root {
      & fieldset {
        border: none;
      }

      &.Mui-focused fieldset {
        border: none;
      }
    }
  }

  .icons {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    margin-top: 8px;
    gap: 10px;
  }
}