.reset-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f2f1f1;
}

.reset-form-box {
    width: 21%;
    height: 27%;
    padding: 3%;
    padding-top: 1.3%;
    background-color: #fff;
    border-radius: 1em;
    box-shadow: 19px 17px 22px 9px rgba(211, 209, 209, 0.658);
    text-align: center;
}

.reset-logo {
    font-size: 2.5em;
    color: #1f5a4fd4;;
    margin-bottom: 0px;;
}

.reset-form-box h2 {
    font-size: 20px;
    margin: 10px 0;
}

.reset-form-box p {
    color: #666;
    text-align: left;
    font-size: 0.9em;
    margin-bottom: 5px;

}

.reset-input-field {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box
}

.reset-links {
    display: flex;
    justify-content: space-between;
    margin: 10px 0 20px;
}

.reset-links a {
    color: #277365d4;
    text-decoration: none;
    font-size: 1.1em;
}

.reset-links a:hover {
    color: black;
}

.reset-submit-button {
    width: 70%;
    padding: 12px;
    background-color: #4285f4;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

.reset-submit-button:hover {
    background-color: rgb(201, 199, 199);
    border-color: black;
    color:black
}