.button-dashboard{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 4em;
    position: fixed;
    background-color: white;
    z-index: 100;
}
.button-dashboard-takenote{
    display: flex;
    gap: 20%   ;
}
.DrawerIcon{
    display: flex;
    width: 20vh;
    padding-left: 30%;
    padding-top: 10%;
    flex-direction: column;
    justify-content: center;
}

.button-dashboard h1{
    position: relative;
    color: #1f5a4fd4;
    left: 1%;
    margin: 0px;
    padding-top: 12px;
    text-align: center;

}

.drawerButton{
    position: fixed;
    left:1%;
}