.button-dashboard{
    display: flex;
    flex-direction: row;
    width: 15%;
    height: 10%;
}
.button-dashboard-takenote{
    display: flex;
    gap: 20%   ;
}
.DrawerIcon{
    display: flex;
    width: 20vh;
    padding-left: 30%;
    padding-top: 10%;
    flex-direction: column;
    justify-content: center;
}

.button-dashboard h1{
    color: #1f5a4fd4;
}
